@media only screen
    and (min-width: 1280px)  {

        .collapsible__full {
            display: block;
        }

        .collapsible__middle {
            display: none !important;
        }

        .collapsible__short {
            display: none !important;
        }
}

@media only screen
    and (min-width: 1024px)
    and (max-width: 1279px) {

        .collapsible__full {
            display: none !important;
        }

        .collapsible__middle {
            display: block;
        }

        .collapsible__short {
            display: none !important;
        }
}

@media only screen
    and (max-width: 1023px),
    and (min-width: 728px){

        .collapsible__full {
            display: none !important;
        }

        .collapsible__middle {
            display: none !important;
        }

        .collapsible__short {
            display: block;
        }
}

@media only screen
    and (max-width: 728px) {

        .collapsible__full {
            display: none !important;
        }

        .collapsible__middle {
            display: none !important;
        }

        .collapsible__short {
            display: block;
        }

        .collapsible__mobile {
            display: none !important;
        }
}
