

    .flight-details__title {
        float: left;

        text-transform: uppercase;

        color: #3399cc;
    }

    .flight-details__value {
        float: right;

        text-transform: uppercase;
    }

    .flight-details__row {
        margin-bottom: 25px;
    }

    .flight-details__row:after {
        display: block;
        visibility: hidden;
        clear: both;

        height: 0;

        content: " ";
    }
