

    .flight-details__title {
        float: left;

        text-transform: uppercase;

        color: #3399cc;
    }

    .flight-details__value {
        float: right;

        text-transform: uppercase;
    }

        .flight-details__value_state {
            padding: 4px;
        }

        .flight-details__value_state_alert {
            background: rgba(255,102,102,0.5);
        }
        .flight-details__value_state_primary {
            background: rgba(153,204,0,0.5);
        }

    .flight-details__row {
        margin-bottom: 25px;
    }

    .flight-details__row:after {
        display: block;
        visibility: hidden;
        clear: both;

        height: 0;

        content: " ";
    }
