body {
    font-family: 'Roboto Condensed', sans-serif;
}

.g-text-centered {
    text-align: center;
}

.l-table {
    margin-top: 10px;
}

.g-cheat {
  background: #fff;
  height: 56px;
  width: 100%;
  z-index: 5;
  position: absolute;
}
