[class^="icon_"], [class*=" icon_"] {
  height: 16px;
  width: 18px;
  display: inline-block;
  line-height: 14px;
  vertical-align: middle;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(images/icon.png)
}

.icon_arrive_off {
    background-position: -18px -16px;
}

.icon_depart_off {
    background-position: 0px -16px;
}

.icon_arrive_on {
    background-position: -18px 0;
}

.icon_depart_on {
    background-position: 0px 0;
}
