.collapsible__print {
    display: none;
}

@media print {

    body {
        width: 100%;

        font-size: 12pt;
    }

    .collapsible__full {
        display: block;
    }

    .collapsible__print {
        display: block;
    }

    .collapsible__middle {
        display: none !important;
    }

    .collapsible__short {
        display: none !important;
    }

    label,
    input,
    i,
    img {
        display: none !important;
    }

    .table {
        border: solid #000000 !important;
        border-width: 1px 0 0 1px !important;
    }

    .table__head-copy {
        display: none !important;
    }

    .table__head-cell,
    .table__cell {
        padding: 5px;

        color: #000000 !important;
        border: solid #000000 !important;
        border-width: 0 1px 1px 0 !important;
    }

    .table__cell:after {
        display: none !important;
    }

    .table__row:hover .table__cell {
        background-color: initial !important;
    }
}
