/*да, это жестко*/

.table-filter {
    z-index: 5;

    display: block;

    padding: 20px 0;

    text-align: center;
}

.table-filter__check {
    display: none;
}

.table-filter__text:not(.last-of-type) {
    margin-right: 30px;
}

.table .table-filter__row {
    display: none;
}

.table-filter__check_arrive:checked ~ .table .table-filter__row_arrive {
   display: table-row;
}

.table-filter__check_depart:checked ~ .table  .table-filter__row_depart {
    display: table-row;
}

.table-filter__item {
    position: relative;
    z-index: 5;

    margin-top: 11px;
}

.table-filter__btn {
    display: inline-block;

    width: 150px;
    padding: 6px 10px;

    cursor: pointer;
    letter-spacing: 3px;
    text-transform: uppercase;

    color: #3399cc;
    border: 1px solid #3399cc;
    background-color: #ffffff;
}

.table-filter__check:checked + .table-filter__btn {
    color: #ffffff;
    background-color: #3399cc;
}

.table-filter__icon {
    display: none;

    margin-right: 12px;
}

.table-filter__icon_arrive_off,
.table-filter__icon_depart_off {
    display: inline-block;
}

.table-filter__check_arrive:checked ~ .table-filter__btn .table-filter__icon_arrive_on {
    display: inline-block;
}

.table-filter__check_depart:checked ~ .table-filter__btn .table-filter__icon_depart_on {
    display: inline-block;
}

.table-filter__check_arrive:checked ~ .table-filter__btn .table-filter__icon_arrive_off {
    display: none;
}

.table-filter__check_depart:checked ~ .table-filter__btn .table-filter__icon_depart_off {
    display: none;
}
