.table  {
    display: table;
    overflow: hidden;
    position: relative;
    width: 100%;
    min-width: 700px;
    text-align: left;
    background-image: url(images/table-back.png); /*В комментариях к pure css решению этот ужас разобран подробно :( */
    background-position: 0 -10px;
}


    .table__row {
        display: table-row;
        text-decoration: none;
        position: relative;
    }

    .table__cell {
        display: table-cell;
        position: relative;
        vertical-align: middle;
        text-align: center;
        height: 56px;
    }

        .table__cell:hover::after {
            content: "";
            position: absolute;
            background-color: rgba(97,175,255,.4);
            left: 0;
            top: -5000px;
            height: 10000px;
            width: 100%;
            z-index: 2;
        }

        .table__row:hover .table__cell {
            background-color: rgba(97,175,255,.4);
        }

    .table__head-copy {
        z-index: 4;
        position: fixed;
        top: 0;
        width: 100%;
        min-width: 700px;
        display: table;
    }

    .table__head-cell {
        white-space: nowrap;
        height: 46px;
        display: table-cell;
        vertical-align: middle;
        position: relative;
        background: #39c;
        text-transform: uppercase;
        color: #fff;
        z-index: 5;
        letter-spacing: 3px;
        text-align: center;
    }

    .table__content {
        z-index: 3;
        position: relative;
        color: #000000;
    }

    .table__link {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

.table img {
    height: 13px;
}
