.table  {
    display: table;
    overflow: hidden;

    width: 85%;
    min-width: 500px;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;

    text-align: left;

    border-collapse: collapse;
    background-image: url(images/table-back.png); /*В комментариях к pure css решению этот ужас разобран подробно :( */
    background-position: 0 -11px;
}


    .table__row {
        position: relative;

        display: table-row;

        text-decoration: none;
    }

    .table__cell {
        position: relative;

        display: table-cell;

        height: 56px;

        text-align: center;
        vertical-align: middle;

        border: 1px solid #dddddd;
    }

        .table__cell:hover::after {
            position: absolute;
            z-index: 2;
            top: -5000px;
            left: 0;

            width: 100%;
            height: 10000px;

            content: "";

            background-color: rgba(97,175,255,0.3);
        }

            .table__cell_state:after {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;

                content: "";
            }

            .table__cell_state_alert:after {
                background: rgba(255,102,102,0.6);
            }

            .table__cell_state_primary:after {
                background: rgba(153,204,0,0.6);
            }

            .table__row:hover .table__cell {
                background-color: rgba(97,175,255,0.3);
            }

    .table__head-copy {
        position: fixed;
        z-index: 4;
        top: 0;

        display: table;

        width: 85%;
        min-width: 500px;
        margin-right: auto;
        margin-left: auto;
    }

    .table__head-cell {
        position: relative;
        z-index: 5;

        display: table-cell;

        height: 46px;

        text-align: center;
        vertical-align: middle;
        white-space: nowrap;
        letter-spacing: 2px;
        text-transform: uppercase;

        color: #ffffff;
        border-top: 1px solid #3399cc;
        border-bottom: 1px solid #3399cc;
        background: #3399cc;
    }

        .table__head-cell:last-child {
            border-right: 1px solid #3399cc;
        }

        .table__head-cell:first-child {
            border-left: 1px solid #3399cc;
        }

    .table__content {
        position: relative;
        z-index: 3;

        color: #000000;
    }

    .table__link {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

.table__img {
    height: 13px;
    margin-left: 10px;
}


@media only screen
    and (min-width: 1024px)
    and (max-width: 1279px) {

        .table {
            width: 100%;
        }

        .table__head-copy {
            width: 100%;
        }

        .table__img {
            height: 20px;
            margin-left: 0;
        }
}

@media only screen
    and (max-width: 1023px) {

        .table {
            width: 100%;
        }

        .table__head-copy {
            width: 100%;
        }

        .table__img {
            height: 20px;
            margin-left: 0;
        }
}
